
/*
.container {
  background-color: white;
  position: relative;
  overflow-y: auto;
  z-index: 3;
  text-align: left;
  border-radius: 15px;
  /*padding-top: 3%;*/
/*}*/
.education{
  border-radius: 15px;
  text-align: left;
  padding-top: 1%;
  position: relative;
  overflow-y: auto;
  z-index: 3; /*9999;*/
}

.flex-container{
  border-radius: 15px;
  text-align: left;
  padding-top: 2%;
  position: relative;
  overflow-y: auto;
  z-index: 3; /*9999;*/
}

td {
  vertical-align: text-top;
  padding: 8px;

}

td.edu-field {
  text-align: left;
}
