.education {
 /*background-color: rgb(88, 91, 248);*/
 background-color: white;
}

.grad-center {
  background-color: white;
  font-size: 5rem;
  color: black;
  position: relative;
  overflow-y: auto;
  z-index: 1; /*9999;*/
}



td {
  vertical-align: top;
  padding: 8px;
}

td.edu-field {
  text-align: right;
}
