.image-container{
  border-radius: 15px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 5%;
  position: relative;
  overflow-x: auto;
  z-index: 1; /*9999;*/

}

.image-inner-container {
  width: 100%;
  margin: 0 auto;
  max-width: 250px;
}

/*project index*/
.flex-container{
  border-radius: 15px;
  padding: 0%;
  margin-left: 12%;
  margin-right: 12%;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  z-index: 2;
}

/*Project Image Prop - wobble thumbail*/
.image {
  display: block;
  margin: 0 auto;
    /*width: calc(50% - 100px);*/
  width: calc(100%);
  fill-opacity: initial;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  /*background-color: rgb(88, 91, 248);*/

  border-radius: 25px;
  /*float: center;*/
  position: relative;
  overflow-y: hidden;
  z-index: 9; /*9999;*/
  overflow-x: auto;

}

.image:focus, .image:hover {
  animation: wobble 1s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
