.title {
  text-align: left;
  font-size: 35px;
  font-weight: bold;
  color: black;
}

/* .center-body {
  margin: 1% 1% 0% 1%;
} */

@media (max-width: 767px) {
  .title {
    text-align: center;
    font-size: 1.95rem;
  }
}

/* a.subDir {
  background-color: rgba(21, 21, 21, 0.1);
} */

a.subDir:hover {
  background-color: #212121;
  color: white;
  text-decoration: underline;
}
