.image-container{
  border-radius: 15px;
  /*background-color: white;*/
  padding: 5%;
  margin: 3%;
  position: relative;
  overflow-y: auto;
  z-index: 1; /*9999;*/
}

.flex-container{
  border-radius: 15px;
  padding: 2%;
  margin: 6%;
  position: relative;
  overflow-y: auto;
  z-index: 3; /*9999;*/
}